@model ComicBookGallery.Models.Artist
@{
    ViewBag.Title = "Comic Book Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>
@if (@Model.Artists.Length > 0)
{
    <h5>Artits</h5>
}
<ul>
    @foreach(var artist in Model.Artists)
    {
        <li>@artist</li>
    }
</ul>



